
* {
	box-sizing: border-box
}
  
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Dosis', sans-serif;
	line-height: 1.6;
	
    color: #f6f4f6;
    background: #666;
}
 
.outer {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
}

.card {
	margin: 1rem;
    background: darkgrey;
	box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
	border-radius: 12px;
	overflow: hidden;
	transition: all .2s linear;
	max-width: 185px;  
}

.card:hover {
	box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
	transform: translate3D(0, -2px, 0);
}

.card p.roomname {	

    font-size: 1.2em;
    margin-block-start: 0.2em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
}

.card p.actual {
    
    text-align: center;
    font-size: 1.8rem;   
    margin-block-start: 0.5em;
    margin-block-end: -0.5em;
        
}

.card p.target {
    text-indent: 0em;
    text-align: center;
    background-color:rgb(251,128,93);
    margin-block-end: 0;
    line-height: 2em;
    width: 2em;
    border-radius: 1em;
}